<div class="row">

  <div class="col-sm-12 col-lg-12">

    <section class="widget" widget>

      <header>
        <h5>
          Enter the following information to {{process}} </h5>
      </header>

      <div class="widget-body">
        <form (ngSubmit)="checkForm(form)" [formGroup]="form">
          <div id="form79" class="form-horizontal form-label-left p-fluid" novalidate>

            <div class="p-col-4 p-mt-5">
              <label>Id/Passport<span class="required"> *</span></label>
              <input pInputText type="text" formControlName="id"
                     [class]="formIsInvalid && form.controls['id'].errors? 'ng-invalid ng-dirty': ''">
              <div *ngIf="form.controls['id'].errors" class="required">
                Id is required
              </div>
            </div>
            <div class="p-col p-mt-5">
              <label>First Name <span class="required"> *</span></label>
              <input
                formControlName="firstName" pInputText type="text"
                [class]="formIsInvalid && form.controls['firstName'].errors? 'ng-invalid ng-dirty': ''">
              <div *ngIf="form.controls['firstName'].errors" class="required">
                First Name is required
              </div>
            </div>

            <div class="p-col p-mt-5">
              <label>Last Name <span class="required"> *</span></label>
              <input
                formControlName="lastName" pInputText type="text"
                [class]="formIsInvalid && form.controls['lastName'].errors? 'ng-invalid ng-dirty': ''">
              <div *ngIf="form.controls['lastName'].errors" class="required">
                Last Name is required
              </div>
            </div>
          </div>

          <div class="p-fluid p-formgrid p-grid p-ml-3 p-mr-3">

            <div class="p-col p-mt-5">
              <label>Email <span class="required"> *</span></label>
              <input pInputText formControlName="email"
                     [class]="formIsInvalid && form.controls['email'].errors? 'ng-invalid ng-dirty': ''">
              <div *ngIf="form.controls['email'].errors" class="required">
                Email is required / Invalid
              </div>
            </div>

            <div class="p-col p-mt-5 ">
              <label>Phone Number <span class="required"> *</span></label>
              <input
                formControlName="phoneNumber" pInputText
                [class]="formIsInvalid && form.controls['phoneNumber'].errors? 'ng-invalid ng-dirty': ''">
              <div *ngIf="form.controls['phoneNumber'].errors" class="required">
                Phone is required / Invalid
              </div>
            </div>

          </div>

          <div class="p-fluid  ml-3 ">
            <div class="p-col-4 p-mt-5">
              <label>Date Of Birth</label>
              <p-calendar class="fullInput" formControlName="dateOfBirth" id="dateOfBirth"
              ></p-calendar>
            </div>

            <div class="p-col-4 p-mt-5">
              <label>Username<span class="required"> *</span></label>
              <input formControlName="username" pInputText type="text"
                     [class]="formIsInvalid && form.controls['username'].errors? 'ng-invalid ng-dirty': ''">
              <div *ngIf="form.controls['username'].errors" class="required">
                Username is required / Invalid
              </div>
            </div>

            <div class="p-col-4 p-mt-5">
              <label>Password<span class="required"> *</span></label>
              <p-password formControlName="password" [toggleMask]="true"
                          [class]="formIsInvalid && form.controls['password'].errors? 'ng-invalid ng-dirty': ''"
              ></p-password>
              <div *ngIf="form.controls['password'].errors" class="required">
                Password is required / Invalid
              </div>
            </div>
          </div>

          <div class="form-actions p-col-4 p-mt-5 mt-3">
            <p-button type="submit" styleClass="p-button-success p-button-raised" class="float-end"
                      [loading]="isLoading" label="Submit" icon="pi pi-check" iconPos="right">
            </p-button>
            <button type="button" pButton class="p-button-raised p-button-secondary" (click)="routeToList()"
                    icon="pi pi-times" label="Cancel">
            </button>

          </div>

        </form>
      </div>
    </section>
  </div>
</div>
